.modalForm{
    .buttonCross{
        position: absolute;
        top: 40px;
        right: 70px;
        cursor: pointer;
    }
    h3{
        text-align: center;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 700;
    }
    span{
        display: block;
        margin-bottom: 5px;
    }
    input{
        width: 300px;
        height: 30px;
        padding-left: 5px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 3px;
        color: rgba(37, 43, 66, 1);
    }
    p{
        height: 25px;
        font-size: 15px;
        color: tomato;
    }
    .buttonExite{
        display: block;
        margin: 0 auto;
        width: 155px;
        height: 35px;
        color: rgba(255, 104, 91, 1);
        border: 1px solid rgba(255, 104, 91, 1);
        border-radius: 5px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }
}
@media screen and (max-width: 601px) {
    .modalForm{
        .buttonCross{
            top: 10px;
            right: 20px;
            cursor: pointer;
        }
        h3{
            font-size: 23px;
        }
        span{
            font-size: 16px;
        }
        input{
            width: 270px;
            height: 27px;
        }
        p{
            height: 23px;
            font-size: 13px;
            color: tomato;
        }
    }
}